<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDraw">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.LoginOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".drawing.DrawingActivity"
            android:exported="false" />
        <activity
            android:name=".explore.LessonListActivity"
            android:exported="false" />
        <activity
            android:name=".explore.LessonDetailActivity"
            android:exported="false" />
        <activity
            android:name=".HomeworkActivity"
            android:exported="false" />
        <activity
            android:name=".community.PostDetailActivity"
            android:exported="false" />

        <activity
            android:name=".community.FullScreenImageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".project.ProjectDetailActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.ChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.ChallengeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".explore.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".event.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".event.EventRegistrationSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".event.TicketActivity"
            android:exported="false" />
        <activity
            android:name=".community.OtherUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".event.EventListActivity"
            android:exported="false" />
        <activity
            android:name=".CreateProjectActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.CreateChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.ChallengeGradingActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.ChallengeEntryListActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.SubmitChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.ChallengeSubmissionsActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.SubmissionDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".challenge.GradeSubmissionActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.UserScoreDetailActivity"
            android:exported="false" />
        <activity
            android:name=".event.CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".LiveStreamActivity"
            android:exported="false" />
        <activity
            android:name=".explore.ArtistDetailActivity"
            android:exported="false" />
        <activity
            android:name=".project.ProjectListActivity"
            android:exported="false" />
        <activity
            android:name=".community.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterProfileActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterInterestsActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterLevelActivity"
            android:exported="false" />
        <activity
            android:name=".project.DoingProjectDetailActivity"
            android:exported="false" />
        <activity
            android:name=".explore.TrendingDetailActivity"
            android:exported="false" />
    </application>

</manifest>
